body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#user-info {
  align-items: center;
  justify-content: center;
  text-align: left;
  margin-bottom: 1em;
}

#user-card {
  width: 35em;
  /* height: 20em; */
  justify-content: center;
  margin: auto;
  margin-bottom: 2em;
  display: flex;
}

#signin-form {
  width: 500px;
  height: 500px;
  align-items: center;
  justify-content: center;
}

#edit-icon {
  align-items: right;
  justify-content: right;
  text-align: right;
  position: right;
}

.impacter-cards {
  /* padding: 10px; */
  margin-bottom: 30px;
}

.request-card {
  margin-bottom: 30px;
}

.organizer-home {
  margin-left: 200px;
  margin-right: 200px;
}

.organizer-cards {
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  justify-content: center;
}

.signin-logo {
  justify-content: center;
  text-align: center;
  margin: auto;
  display: flex;
  margin-top: 25px;
  /* margin-bottom: 25px; */
}

.carescapes {
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.create-account {
  margin-left: 5px;
  margin-top: 25px;
  padding: 5px;
}
.nav-link{
  color:white
}